<!DOCTYPE html>
<html lang="en">

<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>

<body>
    <h2><%= @user.first_name %>, your password has been reset.</h2>
    <p>Your new password is: <%= @password %>.</p>
    <p>To login using your new password, follow this link: <%= @url %>.</p>
</body>
</html>