<%= cl_image_tag(@current_user.profile_picture, :class => "center-image profile-picture") %>
<h1>Your Puzzles</h1>
    <%
        if !@puzzles.empty?

        %>
            <div class="row">
                <div class="col-xs-7 col-sm-3 col-md-2 center-block">
                    <div class="col-no-pad col-xs-7">
                        <select name="grid_size" class="form-control" id="grid-size">
                            <option value="3">3 x 3</option>
                            <option value="5">5 x 5</option>
                            <option value="7">7 x 7</option>
                            <option value="9">9 x 9</option>
                        </select>
                    </div>
                <%= 
                    link_to("Play!", "#{puzzles_path}/#{@puzzles.first.title}/3", :class => "btn btn-primary col-xs-5", :id => "puzzle-play-btn", "data-title" => "#{@puzzles.first.title}", "data-path" => "#{puzzles_path}", "data-size" => "3"  )
                %>
                </div>
            </div>
            
            <div id="user-puzzles">
                <%= render :partial => "puzzle", :collection => @puzzles %>
            </div>

                <div class="row">
                    <div id="infinite-scrolling" class="center-text">
                        <%= will_paginate @puzzles %>
                    </div>
                </div>
            <%
        else
            %> <h3 class="center-text">You currently have no puzzles</h3> <%
        end
    %>