body.puzzles.new  {
    .interact-form {
        padding-bottom: 1em;
    }
}

#canvas {
    position: absolute;
}

#canvas-pieces {
    background-color: rgb(240, 240, 240);
    float: left;
    z-index: 1;
}

#canvas-puzzle {
    background-color: $highlight-color;
    float: right;
}

.puzzle-piece {
    position: absolute;
    border: 3px solid black;
}

.dropzone-correct-bg {
    background-color: green;
}

.dropzone-hover-bg {
    background-color: darkblue;
}

#timer {
    height: 75px;
    width: 150px;
    font-size: 4em;
    text-align: center;
    margin: auto;
}