.user-puzzles-list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 2em;

    li {
        text-align: center;
        list-style: none;
        margin-bottom: 0.75em;
    }
}

.list-title {
    font-weight: bold;
}

.list-image {
    width: 80%;
}