* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body, html {
    min-height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#test-canvas {
    height: 600px;
    width: 600px;
    border: 1px solid black;
    position: absolute;
}

.drag-box {
    height: 100px;
    width: 100px;
    background-color: skyblue;
    border: 1px solid black;

    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    position: absolute;
    z-index: 9;
}

#dropzone1 {
    height: 100px;
    width: 100px;
    border: 1px solid green;
    transform: translate(250px, 150px);
    position: absolute;
}

#dropzone2 {
    height: 100px;
    width: 100px;
    border: 1px solid green;
    transform: translate(350px, 150px);
    position: absolute;
}

.dropzone-bg {
    background-color: green;
}






#canvas {
    position: absolute;
}

#canvas-pieces {
    background-color: rgb(240, 240, 240);
    position: absolute;
    z-index: 1;
}

#canvas-puzzle {
    background-color: rgb(200, 225, 255);
    /*border: 3px solid #333;*/
    position: absolute;
    right: 0;
}

.puzzle-piece {
    /*display: block;*/
    position: absolute;

    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}